/* You can add global styles to this file, and also import other style files */
body {
  background-color: #dee4e6; /* light grey */
  margin: 0;
  font-family: Arial, sans-serif; /* optional for better text */
  min-height: 100vh;
}